#email-alert {
  display: none;
}

#password-alert {
  display: none;
}

body {
  height: 2000px;
  position: relative;
}

.nav-memu {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

.nav-memu.active {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 1);
  transition: all 1s ease;
}

#menu-bt {
  width: 100px;
  height: 50px;
  border-radius: 16px;
}

#menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms ease;
}

#menu.active {
  left: 0;
}

.asd {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: tomato;
  overflow: hidden;
}

.zxc {
  position: absolute;
  right: -50px;
  width: 50px;
  height: 50px;
  background-color: #111;
  transform: perspective();
}

/* 탭기능 */

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

ul.list::after {
  content: "";
  display: block;
  clear: both;
}

.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.tab-button.active {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}

.tab-content {
  display: none;
  padding: 10px;
}

.tab-content.show {
  display: block;
}
